__pycache__/
.ipynb_checkpoints/
*.py[cod]
*$py.class
.vscode/
*.vscode
*.png
*.pth
*.jpg
checkpoints/
adaclip_checkpoints/
workspace/
text_json/
taiji/
pointad/
*.pyc


#文件夹
checkpoint/
results/
generate_dataset_json/

#文件
Experimental Record.txt
Data_analysis.py